<div class="sign-up-container">
  <div class="sign-up">

    <div class="logo">
      <h1>Health Diary</h1>
    </div>

    <form class="sign-up-form" [formGroup]="signUpformGroup" novalidate>
      <fieldset>

        <div class="col-sm-12">
          <div class="form-group label-floating"
               [ngClass]="displayFieldCss('email')">
            <label class="control-label">Enter your email</label>
            <input type="email" class="form-control" formControlName="email"/>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group label-floating"
               [ngClass]="displayFieldCss('nickname')">
            <label class="control-label">Enter your nickname</label>
            <input type="text" class="form-control" formControlName="nickname" required/>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group label-floating"
               [ngClass]="displayFieldCss('password')">
            <label class="control-label">Enter your password</label>
            <input type="password" class="form-control" formControlName="password"/>
          </div>
        </div>

        <div class="body-info">
          <div class="col-sm-6">
            <div class="form-group label-floating"
                 [ngClass]="displayFieldCss('height')">
              <label class="control-label">Enter your height</label>
              <input type="number" class="form-control" formControlName="height"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group label-floating"
                 [ngClass]="displayFieldCss('weight')">
              <label class="control-label">Enter your weight</label>
              <input type="number" class="form-control" formControlName="weight"/>
            </div>
          </div>
        </div>

        <div>
          <div class="radio col-sm-6"
               [ngClass]="displayFieldCss('gender')">
            <label>
              <input type="radio" value="G" formControlName="gender">
              Female
            </label>
          </div>
          <div class="radio col-sm-6"
               [ngClass]="displayFieldCss('gender')">
            <label>
              <input type="radio" value="B" formControlName="gender">
              Male
            </label>
          </div>
        </div>
      </fieldset>

      <div *ngIf="isInvalidForm" class="error-msg">
        <span>{{ errorMessage }}</span>
      </div>
      <button class="sign-up-btn btn btn-primary" (click)="submit()">Sign Up</button>
    </form>

    <div class="sign-in">
      <a class="sign-in-link" color="primary" routerLink="/sign-in">Sign In</a>
    </div>
  </div>
</div>
