.sign-up-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  text-align: center;
}

.sign-up {
  width: 300px;
  margin: 0 auto;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.sign-up-btn {
  width: 100%;
  margin-top: 5px;
}

.btn .find {
  float: right;
}

.error-msg {
  color: #a94442;
}

/*.gender {*/
  /*height: 65.5px;*/
/*}*/

/*.gender .gender-wrapper {*/
  /*width: 300px;*/
  /*position: relative;*/
  /*top: 50%;*/
  /*margin-top: -10px;*/
/*}*/

/*.gender mat-radio-button {*/
  /*width: 49%;*/
/*}*/

/*.body-info > * {*/
  /*width: 48%;*/
/*}*/

/*.body-info .weight {*/
  /*float: right;*/
/*}*/

.radio + .radio {
  margin-top: 10px;
}

.sign-in {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}


mat-spinner {
  margin: auto;
}

