<div class="main-content health-diary-container">
  <div class="calendar-container">
    <div class="calendar-indicator">
      <button class="prev-btn btn btn-primary btn-simple btn-xs" (click)="clickPrevBtn()">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
      <span class="current-date">{{ currentDate | date : 'yy MMM' }}</span>
      <button class="next-btn btn btn-primary btn-simple btn-xs" (click)="clickNextBtn()">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>

    <div class="calendar-header">
      <div class="day-of-weeks" *ngFor="let day of dayOfWeeks">
        <span>{{ day }}</span>
      </div>
    </div>

    <div class="calendar-content">
      <mat-grid-list cols="7" rowHeight="1:1">
        <mat-grid-tile class="calendar-tile" *ngFor="let day of days">
          <div *ngIf="day.date != null" class="calendar-tile-content">
            <span class="grid-tile-date" [class.current-day]="day.isCurrentDay">{{ day.date.getDate() }}</span>
            <button *ngIf="day.isEmptyEvent" class="grid-tile-icon btn btn-primary btn-simple btn-xs" (click)="clickAddEvent(day)">
              <i class="material-icons">add</i>
            </button>
            <button *ngIf="!day.isEmptyEvent" class="grid-tile-icon btn btn-primary btn-simple btn-xs" (click)="clickEditEvent(day)">
              <i class="material-icons">event</i>
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="event-info-container">
    <div class="event-info">
      <div class="event-title">
        <h2>{{ currentDate | date : 'MM.dd'}} diary</h2>
      </div>
      <button class="btn btn-primary btn-simple btn-lg" (click)="addInputEvent()">
        <i class="material-icons">add</i>
        <span>Add event</span>
      </button>
      <form #form="ngForm" class="event-info-form" novalidate>
        <table class="event-info-table">
          <tbody>
            <tr *ngFor="let event of currentEvents, let i = index" ngModelGroup="formGroup{{ i }}" class="event-info-form-group">
              <td class="col-sm-6">
                <div class="form-group label-floating">
                  <label class="control-label">Enter your event</label>
                  <input type="text" class="form-control" name="what" [(ngModel)]="event.what" #what="ngModel" required/>
                </div>
              </td>
              <td class="col-sm-4">
                <div class="form-group">
                  <select class="form-control" name="time" [(ngModel)]="event.time" #time="ngModel" required>
                    <option hidden>Minute</option>
                    <option *ngFor="let min of minList" value="{{ min }}">{{ min }}</option>
                  </select>
                </div>
              </td>
              <td class="col-sm-2">
                <button class="btn btn-primary btn-simple" (click)="removeEvent(i)">
                  <i class="material-icons">clear</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="isInvalidForm || currentEvents.length < 1" class="error-msg">
          <span>{{ errorMessage }}</span>
        </div>
        <div class="event-btns">
          <button class="btn btn-primary btn-simple btn-lg" (click)="submit(form.value, form.valid)"  [disabled]="isEmptyEventDay && currentEvents.length < 1">
            <i class="material-icons">cloud_upload</i>
            <span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
