.user-info-container {
  display: flex;
  width: 100%;
}

.logo {
  text-align: center;
}

.user-info {
  width: 500px;
  margin: 0 auto;
}

.user-info-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.btn .find {
  float: right;
}

.user-id, .user-pw, .user-email, .user-gender, .user-body-info {
  width: 100%;
}

div.title {
  width: 25%;
  display: inline-block;
}

.height, .weight {
  width: 35%;
}

.user-body-info .weight {
  float: right;
}

.user-delete {
  display: flex;
}

.btn-modify, .btn-delete {
  width: 200px;
  margin: 0 auto;
}

.radio + .radio {
  margin-top: 10px;
}
