<div class="main-content user-info-container">
  <div class="user-info">
    <form #form="ngForm" class="user-info-form" novalidate>
      <fieldset>

        <div class="col-sm-12">
          <div class="form-group label-floating">
            <label class="control-label">Enter your email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email"/>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group label-floating">
            <label class="control-label">Enter your nickname</label>
            <input type="text" class="form-control" disabled name="nickname" [(ngModel)]="nickname"/>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group label-floating">
            <label class="control-label">Enter your password</label>
            <input type="password" class="form-control" name="password"/>
          </div>
        </div>

        <div class="body-info">
          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Enter your height</label>
              <input type="text" class="form-control" name="height" [(ngModel)]="height"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Enter your weight</label>
              <input type="text" class="form-control" name="weight" [(ngModel)]="weight"/>
            </div>
          </div>
        </div>

        <div>
          <div class="radio col-sm-6">
            <label>
              <input type="radio" value="Female" name="gender" [(ngModel)]="gender">
              Female
            </label>
          </div>
          <div class="radio col-sm-6">
            <label>
              <input type="radio" value="Male" name="gender" [(ngModel)]="gender">
              Male
            </label>
          </div>
        </div>
      </fieldset>
      <button class="btn-modify" (click)="submit(form.value)" mat-raised-button color="primary">Modify user info</button>
    </form>
    <div class="user-delete">
      <button class="btn-delete" (click)="deleteUser()" mat-raised-button color="primary">Delete your account</button>
    </div>
  </div>
</div>
