<div class="main-content user-info-container">
  <div class="user-info">
    <form #form="ngForm" class="user-info-form" novalidate>
      <fieldset *ngIf="userData != null">

        <div class="col-sm-12">
          <div class="form-group label-floating">
            <label class="control-label">Enter your email</label>
            <input type="email" class="form-control" disabled [(ngModel)]="userData.email" name="email"/>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group label-floating">
            <label class="control-label">Nickname</label>
            <input type="text" class="form-control" name="nickname" [(ngModel)]="userData.nickname"/>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group label-floating">
            <label class="control-label">Enter your password</label>
            <input type="password" class="form-control" name="password"/>
          </div>
        </div>

        <div class="body-info">
          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Enter your height</label>
              <input type="text" class="form-control" name="height" [(ngModel)]="userData.height"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Enter your weight</label>
              <input type="text" class="form-control" name="weight" [(ngModel)]="userData.weight"/>
            </div>
          </div>
        </div>

        <div>
          <div class="radio col-sm-6">
            <label>
              <input type="radio" value="G" name="gender" [(ngModel)]="userData.gender">
              Female
            </label>
          </div>
          <div class="radio col-sm-6">
            <label>
              <input type="radio" value="B" name="gender" [(ngModel)]="userData.gender">
              Male
            </label>
          </div>
        </div>
      </fieldset>
      <button class="btn-modify btn btn-primary" (click)="submit(form.value)">Modify user info</button>
    </form>
    <div class="user-delete">
      <button class="btn-delete btn btn-primary" (click)="deleteUser()">Delete your account</button>
    </div>
  </div>
</div>
