<!--<div class="container">-->
  <!--<mat-toolbar color="primary" class="toolbar">-->
    <!--<button mat-icon-button (click)="sideNav.toggle()"><mat-icon>menu</mat-icon></button>-->
    <!--<a mat-button class="logo" routerLink="/home">Health Diary</a>-->

  <!--</mat-toolbar>-->

  <!--<mat-sidenav-container class="sidenav-container">-->
    <!--<mat-sidenav #sideNav [mode]="over" fixedTopGap="56">-->
      <!--<mat-nav-list class="side-nav">-->
        <!--<mat-list-item *ngFor="let menu of menus" (click)="sideNav.toggle()">-->
          <!--<a matLine routerLink="{{ menu.link }}">{{ menu.title }}</a>-->
        <!--</mat-list-item>-->
      <!--</mat-nav-list>-->
      <!--<div class="sign-out">-->
        <!--<button class="sign-out-btn" color="primary" (click)="logout()"  mat-button>Log out</button>-->
      <!--</div>-->
    <!--</mat-sidenav>-->

    <!--<mat-sidenav-content>-->
      <!--<router-outlet></router-outlet>-->
    <!--</mat-sidenav-content>-->
  <!--</mat-sidenav-container>-->
<!--</div>-->

<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
