.sign-in-container {
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  text-align: center;
}

.sign-in {
  width: 300px;
  margin: 0 auto;
}

.sign-in-form {
  flex-direction: column;
  display: flex;
  margin-bottom: 5px;
}

.sign-in-btn {
  width: 100%;
  margin-top: 5px;
}

.sign-up {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn .find {
  float: right;
}

.error-msg {
  color: #a94442;
}
