<div class="sign-in-container">
  <div class="sign-in">

    <div class="logo">
      <h1>Health Diary</h1>
    </div>

    <form class="sign-in-form" [formGroup]="formModel" (ngSubmit)="submit()"  novalidate>
      <div class="col-sm-12">
        <div class="form-group label-floating" [ngClass]="{'has-error' : formModel.hasError('required', 'id')}">
          <label class="control-label">Enter your id</label>
          <input type="text" class="form-control" formControlName="id"/>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group label-floating" [ngClass]="{'has-error' : formModel.hasError('required', 'password')}">
          <label class="control-label">Enter your password</label>
          <input type="password" class="form-control" formControlName="password"/>
        </div>
      </div>

      <button class="sign-in-btn btn btn-primary">Sign In</button>
    </form>

    <div class="sign-up">
      <a class="sign-up-link" color="primary" routerLink="/sign-up">Sign Up</a>
    </div>
  </div>
</div>
